# Gradle
.gradle/
build/
**/build/

# IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Secrets / configs (DO NOT COMMIT)
src/main/resources/application.properties
src/main/resources/application-*.properties
src/main/resources/application-*.yml

# Certs (DO NOT COMMIT)
kafka-certs/
/build/
/.gradle/
/out/
bin/
*.class