spring:
  application:
    name: sbb




  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP:newsnake-kafka-lsm71103186-f353.i.aivencloud.com:11897}
    consumer:
      group-id: ${KAFKA_GROUP_ID:ai-analyzer-group}

      enable-auto-commit: false
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer

    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

    properties:
      security.protocol: SSL

      ssl.keystore.type: PKCS12
      ssl.keystore.location: /etc/newsnake/kafka/client.p12
      ssl.keystore.password: ${KAFKA_KEYSTORE_PASSWORD:newsnakekafka}

      ssl.truststore.type: JKS
      ssl.truststore.location: /etc/newsnake/kafka/truststore.jks
      ssl.truststore.password: ${KAFKA_TRUSTSTORE_PASSWORD:newsnakekafka}

    listener:
      ack-mode: manual_immediate


  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://10.0.2.238:3306/restapi?serverTimezone=Asia/Seoul
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  session:
    store-type: redis
    redis:
      save-mode: on_get_attribute
    timeout: 30m
  data:
    redis:
      url: ${REDIS_URL}

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQLDialect

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          timeout: 5000
          starttls:
            enable: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            redirect-uri: https://api.newsnake.site/login/oauth2/code/google
            scope: email, profile
          naver:
            client-id: ${NAVER_CLIENT_ID}
            client-secret: ${NAVER_CLIENT_SECRET}
            scope: name, email, profile_image
            client-name: Naver
            authorization-grant-type: authorization_code
            redirect-uri: https://api.newsnake.site/login/oauth2/code/naver
          kakao:
            client-id: ${KAKAO_CLIENT_ID}
            client-secret: ${KAKAO_CLIENT_SECRET:}
            scope: profile_nickname
            client-name: Kakao
            authorization-grant-type: authorization_code
            redirect-uri: https://api.newsnake.site/login/oauth2/code/kakao
        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id



management:
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true

server:
  forward-headers-strategy: framework
  port: 8080
  servlet:
    session:
      timeout: 30m
